.d-emoji {
    display: inline;    /* added to make sure emojis aren't on a new page */
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: middle; /* discord css is bottom but middle looks better */
}

.blockquoteContainer {
    display: flex;
}

.blockquoteDivider {
    background-color: rgb(79 84 92);
}

.blockquoteContainer .blockquoteDivider {
    width: 4px;
    border-radius: 4px;
}

.blockquoteContainer blockquote {
    padding: 0 8px 0 12px;
    box-sizing: border-box;
    text-indent: 0;
}


.d-mention {
    border-radius: 3px;
    padding: 0px;
    /* transition: background-color 50ms ease-out,color 50ms ease-out; */
    /* cursor: pointer; */

    /* background: blue; */
    color: hsl(236,83.3%,92.9%);
    background: hsla(235,85.6%,64.7%,0.3);
    /* padding-left: 1.2rem;
    padding-left: 1.3rem; */
}

.message-group .comment .markup span {
    display: inline-block;
    vertical-align: bottom;
    padding: 0px;
}

/* code .inline {
    display: inline-block !important;
    vertical-align: middle !important;
} */

.message-group .comment .markup code.inline {
    display: inline-block !important;
    vertical-align: middle !important;
    /* padding: 0px !important; */
}